# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp

# Model artifacts (only if you generate them locally)
*.joblib
*.pkl

# Data folders
*/data/
data/